/*
 * @file
 * A11Y Tabs Module Default Styling
 */

.etuf-translated-field-wrapper {
  position: relative;
  display: block;
}

.etuf-translated-field-wrapper .tabs-tab-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.etuf-translated-field-wrapper .tabs-tab-list li {
  margin: 0;
}

/* Individual Tab Styling */
.etuf-translated-field-wrapper .tabs-trigger {
  border-bottom: none;
  color: #666;
  display: none;
  font-weight: normal;
  margin: 0 5px 0 1px;
  padding: 15px 20px;
  text-decoration: none;
}

/* Tab hover styling */
.etuf-translated-field-wrapper .tabs-trigger:hover {
  border-bottom: none;
  color: #000;
}

/* Tab Active State */
.etuf-translated-field-wrapper .tabs-trigger.is-selected,
.etuf-translated-field-wrapper .tabs-trigger.is-selected:hover,
.etuf-translated-field-wrapper .tabs-trigger.is-selected:focus {
  border-bottom: 2px solid #bbb;
  color: #000;
  background-color: #ededed;
}

.etuf-translated-field-wrapper .tabs-trigger:active {
  outline: none;
}

/* Tab Content Area */
.etuf-translated-field-wrapper .tabs-panel {
  display: block;
  margin: 0;
  padding: 0;
}

.etuf-translated-field-wrapper .tabs-panel:not(:first-of-type) {
  border-top: 2px solid #eee;
}

.etuf-translated-field-wrapper .tabs-panel:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.etuf-translated-field-wrapper .tabs-panel:not(:last-child) {
  border-bottom: none;
}

.etuf-translated-field-wrapper .tabs-panel.is-hidden .content {
  display: none;
}

.etuf-translated-field-wrapper .tabs-panel:active,
.etuf-translated-field-wrapper .tabs-panel:focus {
  outline: none;
}

.etuf-translated-field-wrapper .is-initialized.tabs-allowed .tabs-panel {
  display: inherit;
}

/* Accordion item */
.etuf-translated-field-wrapper .accordeon-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 15px 20px;
}

/* Accordion item Active State */
.etuf-translated-field-wrapper .accordeon-trigger[aria-expanded="true"] {
  background-color: #ededed;
}

.etuf-translated-field-wrapper .accordeon-trigger-icon {
  pointer-events: none;
}

/* Makes the accordions tabs on ipad and above */
@media (min-width: 768px) {
  .etuf-translated-field-wrapper .tabs-allowed .accordeon-trigger {
    display: none;
  }
  .etuf-translated-field-wrapper .tabs-allowed .tabs-trigger {
    display: block;
  }
  .etuf-translated-field-wrapper .tabs-allowed .tabs-panel {
    display: none;
  }
  .etuf-translated-field-wrapper .tabs-allowed .tabs-panel.is-hidden {
    display: none;
  }
  .etuf-translated-field-wrapper .tabs-allowed .tabs-panel {
    border-top: 2px solid #eee;
  }
  .etuf-translated-field-wrapper .tabs-allowed .tabs-tab-list {
    margin-bottom: -2px;
  }
}

.etuf-translated-field-wrapper .accordeon-trigger-icon {
  display: inline-block;
  float: right;
  width: 22px;
  height: 22px;
}

.etuf-translated-field-wrapper .accordeon-trigger-icon svg {
  margin: 0;
}

.etuf-translated-field-wrapper [aria-expanded="true"] .vert {
  display: none;
}

.etuf-translated-field-wrapper .label--open,
.etuf-translated-field-wrapper .label--close {
  display: block;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.etuf-translated-field-wrapper .label--close {
  display: none;
}

.etuf-translated-field-wrapper .is-open .label--open {
  display: none;
}

.etuf-translated-field-wrapper .is-open .label--close {
  display: block;
}
