@media screen and (min-width: 992px) {
  body.etuf-sbs .layout-region-node-main,
  body.etuf-sbs .layout-region-node-footer {
    width: 80%;
  }
  /* For separators between side-by-side fields, to prevent alignment problems */
  .etuf-sbs-none {
    float: left;
    display: inline-block;
    width: 99%;
  }
  body.etuf-sbs section[id*="wrapper--2--etuftabsection"],
  body.etuf-sbs form.node-form div.layout-region__content > div.form-item[class*="-etuf-"] {
    float: right;
    width: 49%;
  }
  body.etuf-sbs details.claro-details {
    float: left;
    display: inline-block;
    width: 99%;
  }
  body.etuf-sbs #edit-revision-information div.etuf-sbs-none {
    float: unset;
    display: unset;
    width: unset;
  }
  body.etuf-sbs.path-node .layout-region-node-main > details.form-wrapper,
  body.etuf-sbs.path-node .layout-region-node-footer > details.form-wrapper {
    display: inline-block;
    width: 100%;
  }

  body.etuf-sbs.path-node .layout-region-node-main > details.form-wrapper div.js-form-item.form-item,
  body.etuf-sbs.path-node .layout-region-node-footer > details.form-wrapper div.js-form-item.form-item,
  body.etuf-sbs.path-node .layout-region-node-main > fieldset.form-wrapper div.fieldset-wrapper > div.js-form-item.form-item,
  body.etuf-sbs.path-node .layout-region-node-footer > fieldset.form-wrapper div.fieldset-wrapper > div.js-form-item.form-item,
  body.etuf-sbs.path-node .layout-region-node-main > div.js-form-item.form-item,
  body.etuf-sbs.path-node .layout-region-node-footer > div.js-form-item.form-item {
    float: left;
    width: 49%;
    margin-right: 5px;
  }

  body.etuf-sbs.path-node .layout-region-node-main > div.js-form-item.form-item:nth-child(even),
  body.etuf-sbs.path-node .layout-region-node-main > fieldset.js-form-item.form-item:nth-child(even),
  body.etuf-sbs.path-node .layout-region-node-footer > fieldset.js-form-item.form-item:nth-child(even),
  body.etuf-sbs.path-node .layout-region-node-footer > div.js-form-item.form-item:nth-child(even) {
    float: left;
    width: 49%;
    margin-left: 5px;
  }

  body.etuf-sbs.path-node .layout-region-node-main > div.js-form-item.form-item.form-type--textarea {
    width: 100%;
  }

  body.etuf-sbs .layout-region-node-secondary {
    width: 20%;
  }

  body.etuf-sbs.path-node .layout-region-node-footer > div.js-form-item.form-item.form-item--moderation-state-0-state,
  body.etuf-sbs.path-node .layout-region-node-footer transitionset {
    float: none;
    width: auto;
    margin-right: 0;
  }

  body.etuf-sbs.path-node .layout-region-node-footer > div.js-form-item.form-item.form-item--moderation-state-etuf-fr-0-state,
  body.etuf-sbs.path-node .layout-region-node-footer transitionset:nth-child(even) {
    float: none;
    width: auto;
    margin-left: 0;
  }

}
