@media screen and (min-width: 992px) {

  /* separators */
  .etuf-sbs-none {
    float: left;
    display: inline-block;
    width: 99%;
  }

  /* force fieldsets full width */
  body.etuf-sbs div.region-content fieldset.js-form-item {
    width: 99%;
  }
  /* but half-width for the fieldsets content */
  body.etuf-sbs div.region-content fieldset.js-form-item > div.fieldset-wrapper > div.js-form-item {
    float: left;
    width: 49%;
    margin-left: 5px;
  }

  /* force details full width */
  body.etuf-sbs div.region-content details.js-form-wrapper {
    width: 99%;
  }
  /* but helf-width for the details content */
  body.etuf-sbs div.region-content details.js-form-wrapper > div.details-wrapper > div.js-form-item {
    float: left;
    width: 49%;
    margin-left: 5px;
  }

  /* for the tab-part at the end which is a 'details' but not concerned */
  body.etuf-sbs div.region-content form.node-form > div.js-form-item.form-type-vertical-tabs {
    width: 99%;
  }

  /* standard elements */
  body.etuf-sbs div.region-content form.node-form > div.js-form-item {
    float: left;
    width: 49%;
    margin-left: 5px;
  }

  /* dunno why, without this I get strange behaviors from details */
  body.etuf-sbs details.js-form-wrapper {
    display: inline-block !important;
  }

}
