
/**
 * Undo core 10.1+ compatibility issues that affect etuf side by side mode.
 */
:root {
  --node-meta-width: 22.5rem;
  --node-meta-xl-width: 25vw;
}

@media (min-width: 69rem) {
  body.etuf-sbs div.layout-region--main {
    width: auto;
  }
  body.etuf-sbs div.layout-region--footer {
    width: 100%;
  }
}

@media (min-width: 61rem) {
  body.etuf-sbs .layout-node-form {
    display: unset;
    grid-template-rows: unset;
    grid-template-columns: unset;
    gap: unset;
  }
}

/**
 * Wide screens
 */
@media screen and (min-width: 61rem) {
  body.etuf-sbs .layout-region--node-main,
  body.etuf-sbs .layout-region--node-footer {
    grid-column: unset;
    float: left; /* LTR */
    width: calc(100% - var(--node-meta-width));
    padding-right: var(--space-l); /* LTR */
  }
  body.etuf-sbs [dir="rtl"] .layout-region--node-main,
  body.etuf-sbs [dir="rtl"] .layout-region--node-footer {
    float: right;
    padding-right: 0;
    padding-left: var(--space-l);
  }

  body.etuf-sbs .layout-region--node-main .layout-region__content,
  body.etuf-sbs .layout-region--node-footer .layout-region__content {
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
  }

  body.etuf-sbs .layout-region--node-footer .layout-region__content {
    margin-top: var(--space-xs);
  }

  body.etuf-sbs .layout-region--node-secondary {
    float: right; /* LTR */
    width: var(--node-meta-width);
  }
  body.etuf-sbs [dir="rtl"] .layout-region--node-secondary {
    float: left;
  }

  /* Push sidebar down to horizontal align with form section */
  body.etuf-sbs .layout-region--node-secondary {
    margin-top: var(--space-l);
  }
}

/**
 * Extra Wide screens
 */

@media screen and (min-width: 112rem) {
  body.etuf-sbs .layout-region--node-main,
  body.etuf-sbs .layout-region--node-footer {
    grid-column: unset;
    width: calc(100% - var(--node-meta-xl-width));
  }

  body.etuf-sbs .layout-region--node-secondary {
    grid-row: unset;
    width: var(--node-meta-xl-width);
  }
}

