
@media (min-width: 61rem) {
  div#block-claro-content .layout-region--main {
    width: 100%;
  }

  .layout-region--node-main,
  .layout-region--node-footer {
    margin-inline: unset !important;
    width: unset !important;
  }
}
