<div class="etuf-translated-field-wrapper">
  <div class="accordion-tabs js-tabs">
    <ul role="tablist" class="tabs-tab-list">
      {% for id, field in fields %}
        <li role="presentation"><a href="#{{ id }}--etuftabsection" role="tab" id="{{ id }}--etuftab" aria-controls="section1" aria-selected="true" class="tabs-trigger js-tabs-trigger">{{ field.language_name }}</a></li>
      {% endfor %}
    </ul>
    {% for id, field in fields %}
      <section id="{{ id }}--etuftabsection" role="tabpanel" aria-labelledby="{{ id }}--etuftab" class="tabs-panel js-tabs-panel" tabindex="0">
        <div class="accordeon-trigger js-accordeon-trigger" aria-controls="{{ id }}--etuftabsection" aria-expanded="true" tabindex="0">{{ field.label }}</div>
        <div class="content" aria-hidden="false">
          {{ field.markup }}
        </div>
      </section>
    {% endfor %}
  </div>
</div>